@import url('https://fonts.googleapis.com/css?family=Roboto:300|Roboto+Mono:300');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

.font-code {
    font-family: 'Roboto Mono', monospace;
}

.with-shadow {
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

/* Mobile menu */
@media screen and (max-width: 1023px) {
    .navbar-menu {
        background-color: #292929;
        box-shadow: 0 8px 16px rgba(10,10,10,.1);
        padding: .5rem 0;
    }
    a.navbar-item {
        color: #fff;
    }
    a.navbar-item:hover, a.navbar-item:focus, a.navbar-item.is-active {
        color: #fff;
        background-color:hsl(0, 0%, 21%);
    }
}